/* You can add global styles to this file, and also import other style files */
button{
    color: white;
    background-color: #1a73e8;
    border-radius: 4px;
    padding: 8px;
    margin: 2px;
    border: none;
}
button:hover{
    background-color: #1b66c9;
}
